<h1>Editing Mix</h1>

<div class="well">
  <%= link_to 'View Promo Version', mix_path(@mix) + "/" + @mix.secret_hash, class: "btn btn-primary" %>
  <code>
    http://jusbchill.com<%= url_for(@mix) + "/" + @mix.secret_hash %>
  </code>
</div>

<%= render partial: 'form', locals: {url: admin_mix_path(@mix)} %>

<%= link_to 'Show', @mix %> |
<%= link_to 'Back', mixes_path %>
