<section class="artist-bio row">
  <div class="artist-image col-md-4">
    <%= image_tag(@artist.avatar.url) %>
  </div>
  <div class="artist-details col-md-8">
    <h2><%= @artist.name %></h2>
    <p>
      <span class="label label-default"><a href="<%= @artist.twitter %>">Twitter</a></span>
      <span class="label label-default"><a href="<%= @artist.facebook %>">Facebook</a></span>
      <span class="label label-default"><a href="<%= @artist.soundcloud %>">Soundcloud</a></span>
    </p>
    <p class="hidden-xs">
      <%= @artist.biography %>
    </p>
  </div>
</section>

<section class="soundcloud row">
  <div class="col-md-12"> 
    <%= raw(@artist.soundcloud_embed) %>
  </div>
</section>

<% if @artist.releases.count > 0 %>
  <section class="releases row">
    <h2>Releases</h2>
    <%= render @artist.releases %>
  </section>
<% end %>

<!-- <section class="mixes row">
  <h2>Mixes</h2>
</section>
 -->