<section class="artist row">
  <div class="col-md-12"> 
    <div class="artist-image col-md-3">
      <%= image_tag(@artist.avatar.url) %>
    </div>
    <div class="artist-details col-md-9">
      <h2><%= @artist.name %></h2>
      <blockquote class="hidden-xs">
        <%= @artist.biography %>
      </blockquote>
    </div>
  </div>
</section>

<% if @artist.releases.count > 0 %>
  <section class="releases row">
    <h2>Releases</h2>
    <%= render @artist.releases %>
  </section>
<% end %>

<!-- <section class="mixes row">
  <h2>Mixes</h2>
</section>
 -->

<%= link_to 'Back', artists_path %>