<% content_for :opengraph_meta_tags, opengraph_meta_tags_for(@artist) %>

<div class="artist-information">
  <div class="container">
    <section class="row">
      <div class="artist-image col-md-4">
        <%= image_tag(@artist.avatar.url) %>
      </div>
      <div class="artist-details col-md-8">
        <h2><%= @artist.name %></h2>
        <div class="artist-links social">
          <p>
            <% if !@artist.twitter.blank? %>
             <a href="<%= @artist.twitter %>" class="btn btn-default btn-twitter">Twitter</a>
            <% end %>

            <% if !@artist.facebook.blank? %>
             <a href="<%= @artist.facebook %>" class="btn btn-default btn-facebook">Facebook</a>
            <% end %>

            <% if !@artist.soundcloud.blank? %>
             <a href="<%= @artist.soundcloud %>" class="btn btn-default btn-soundcloud">Soundcloud</a>
            <% end %>
          </p>
        </div>
        <div class="artist-biograph">
          <%= markdown(@artist.biography) %>
        </div>
        <div class="fb-like" data-href="<%= request.original_url  %>" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
      </div>
    </section>
  </div>
</div>

<div class="soundcloud">
  <div class="container">
    <section class="row">
      <div class="col-md-12"> 
        <%= raw(@artist.soundcloud_embed) %>
      </div>
    </section>
  </div>
</div>

<% if @artist.performances.featured.count > 0 %>
  <div class="mixes performances">
    <div class="container">
      <section class="row">
        <div class="col-md-12"> 
          <h3>Performances</h3>
          <br>
          <%= render @artist.performances %>
        </div>
      </section>
    </div>
  </div>
<% end %>

<% if @artist.releases.published.count > 0 %>
  <div class="releases">
    <div class="container">
      <section class="row">
        <div class="col-md-12"> 
          <h3>Releases</h3>
          <%= render @artist.releases.published %>
        </div>
      </section>
    </div>
  </div>

<% end %>

<% if @artist.mixes.published.count > 0 %>
  <div class="mixes">
    <div class="container">
      <section class="row">
        <div class="col-md-12"> 
          <h3>Mixes</h3>
          <%= render @artist.mixes.published %>
        </div>
      </section>
    </div>
  </div>
<% end %>

