<div class="card col-sm-6 col-md-3">
  <div class="card-image">
    <%= link_to(mix_path(mix), {}) do %>
      <%= image_tag(mix.avatar.jumbo.url) %>
    <% end %>
  </div>
  <div class="card-details">
    <h4><%= mix.mix_no %></h4>
    <h4><%= mix.title %> - <%= link_to(mix.artist.name, artist_path(mix.artist)) %></h4>
  </div>
</div>