<h1>New Release</h1>

<%= form_for(@release, url: admin_releases_path, html: { role: "form" } ) do |f| %>
  <div class="form-group">
    <% if @release.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@release.errors.count, "error") %> prohibited
          this release from being saved:</h2>
        <ul>
        <% @release.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

     <div class="form-group">
      <%= f.label :release_no %>
      <%= f.text_field :release_no, class: "form-control" %>
       <p class="help-block">E.g. JBC003</p>
    </div>

    <div class="form-group">
      <%= f.label :artist_id %>
      <%= f.collection_select(:artist_id, Artist.all, :id, :name, {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= f.label :avatar %>

      <div class="form-release-image">
        <%= image_tag(@release.avatar.url) %>
      </div>
      
       <%= f.file_field :avatar %>

      <p class="help-block">Upload an image please. This is required.</p>
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, cols: 10, rows: 10, class: "form-control" %>
    </div>

    <%= button_tag(type: 'submit', class: "btn btn-lg btn-primary") do %>
      Save
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', admin_releases_path %>