<section class="artists row">
  <% @artists.each do |artist| %>
    <div class="artist col-md-12">
      <div class="artist-image col-md-3">
        <%= link_to(edit_admin_artist_path(artist), {}) do %>
          <%= image_tag(artist.avatar.url) %>
        <% end %>
      </div>
      <div class="artist-details col-md-9">
        <h2><%= artist.name %></h2>
        <blockquote class="hidden-xs">
          <%= artist.biography %>
        </blockquote>
        <div class="actions">
          <%= link_to 'Edit', edit_admin_artist_path(artist), class: "btn btn-primary" %>
          <%= link_to 'Destroy', admin_artist_path(artist),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</section>