<li class="new">
  <div class="col-md-5">
    <div class="card-image">
      <%= link_to(event.url, {}) do %>
        <%= image_tag(event.opengraph_image) %>
      <% end %>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card-details">
      <%= link_to( event.url, {}) do %>
        <h4><%= event.title %></h4>
      <% end %>
      <h5><%= event.start_date.to_formatted_s(:nicedate) %></h5>
      <h5><%= event.location %></h5>

      <p><em>
        Featuring <%= event.artists.featured.pluck(:name).to_sentence %>.
      </em>
      </p>

    </div>
  </div>
</li>