<% content_for :og_tags do %>
  <%= render 'events/coolroom/episode1/opengraph' %>
<% end %>

<div class="coolroom episode-1-cover">
</div>

<div class="episode-description">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Pilot Episode - Amateur Dance</h1>

        <p class="lead">Jus B Chill and Hugs &amp; Kisses proudly present: Cool Room, the chill and sexy dance show, a new periodic dance party and online TV show celebrating Melbourne techno.</a>

        <p>Each episode features a members only TV audience live at the Hugs &amp; Kisses studio. Our lucky audience members will get on down to titillating techno, dripping acid squelches, and the full spectrum of weird and ravey sounds.</p>

        <div class="social">
          <p>
            <a href="https://www.facebook.com/events/1565054403709900" class="btn btn-default btn-facebook">Facebook</a>
          </p>
        </div>

        <div class="cast">
          <p>Our pilot episode features:</p>

          <ul class="list-unstyled">
            <li><a href="https://soundcloud.com/amateur-dance">Amateur Dance (Live)</a></li>
            <li><a href="https://soundcloud.com/hymnshymns">Hymns</a></li>
            <li>Broke Powers</li>
            <li><a href="https://soundcloud.com/jenniferloveless">Jennifer Loveless</a></li>
            <li><a href="https://soundcloud.com/futuristickish">Kish Lal</a></li>
            <li><a href="https://soundcloud.com/death2oldmoney">Death 2 Old Money</a></li>
            <li><a href="http://69punksongs.tumblr.com/">Adrian Angel</a></li>
          </ul>
        </div>

        <div class="well manifesto">
          <h3>Cool Room Manifesto</h3>
          <p>When dancing is your expression, Cool Room is where you show others how you work it. </p>
          <p>Be ~chill~, feel *sexy*.</p>
          <p> Make it hot and keep it cool. </p>
        </div>

        <h3>Watch this episode below!</h3>
      </div>
    </section>
  </div>
</div>

<div class="coolroom coolroom-bottom">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="logo">
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode1/hymns.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="http://www.dailymotion.com/video/k5xpkfdRvvfFCmaan8H" target="_blank">Hymns</a></h3>
            <div class="artist-links social">
              <p>
                <a href="https://soundcloud.com/hymnshymns" class="btn btn-default btn-soundcloud">Soundcloud</a>
                <a href="http://jusbchill.com/hymns" class="btn btn-default btn-primary">Website</a>
              </p>
            </div>
            <div class="artist-biograph">
              <p><a href="http://jusbchill.com">jus b chill’s</a> very own <a href="http://jusbchill.com/artists/hymns">‘Hymns’</a> dedicates himself to forming evocative symbiotic relationships between DJ and dancer. Get down to hypnotic acid house, get caught in undeniable techno grooves and get lost in soundscapes dripping with emotion. This Cool Room Hymns will be aiming high and so should you. Co-exist with Hymns from 11pm-1am. Get ready2dance&amp;feel.</p>
            </div>
            <%= render 'events/facebookshare' %>
          </div>
        </div>

        <div class="video">
          <div class='embed-container'>
            <iframe src='http://www.dailymotion.com/embed/video/k5xpkfdRvvfFCmaan8H' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">

        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode1/broke-powers.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="http://www.dailymotion.com/video/k6MwkmYlJeq64ua8VXA" target="_blank">Broke Powers</a></h3>
            
            <div class="artist-biograph">
              <p>Don't stop, can't stop, won't stop. Broke Powers combines her love of basslines and distrust of sleep to create banging club journeys through house and techno. Live at the Hugs &amp; Kisses studio and on trnsmt.tv from 1-2am.</p>
            </div>
            <%= render 'events/facebookshare' %>
          </div>
        </div>

        <div class="video">
          <div class='embed-container'>
            <iframe src='http://www.dailymotion.com/embed/video/k6MwkmYlJeq64ua8VXA' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode1/amateur-dance.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="http://www.dailymotion.com/video/k6A4ORMn0sIuCgaan91" target="_blank">Amateur Dance [Live Set]</a></h3>
            <div class="artist-links social">
              <p>
                <a href="https://www.facebook.com/amateurdance" class="btn btn-default btn-facebook">Facebook</a>
                <a href="https://soundcloud.com/amateur-dance" class="btn btn-default btn-soundcloud">Soundcloud</a>
                <a href="http://amateurdance.bandcamp.com/" class="btn btn-default btn-primary">Bandcamp</a>
              </p>
            </div>
            <div class="artist-biograph">
              <p>Amateur dancing is what Cool Room is all about - bodies writhing, booties popping, sweat trickling.
                So for our pilot, we're understandably excited to bring you Amateur Dance, live and on air in the Hugs & Kisses studio from 2-3am. Practise your moves at home to his debut EP, <a href="https://soundcloud.com/octoberrecords/sets/ad_tay_ep">Talking About Yourself</a>.</p>
            </div>
            
            <%= render 'events/facebookshare' %>
          </div>
        </div>

        <div class="video">
          <div class='embed-container'>
            <iframe src='http://www.dailymotion.com/embed/video/k6A4ORMn0sIuCgaan91' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Thanks for watching!</h2>
        <p class="lead">Like us on Facebook to get invited to the next episode.</p>
        <div class="fb-like-box" data-href="https://www.facebook.com/coolroomtv" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>

<div class="coolroom coolroom-drinks"></div>
