<% content_for :og_tags do %>
  <%= render 'events/coolroom/episode2/opengraph' %>
<% end %>

<div class="coolroom episode-2-cover">
</div>

<div class="episode-description">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Episode 2 - Chiara Kickdrum</h1>

        <p class="lead">jus b chill, TRNSMT and the ever-sumptuous Hugs&amp;Kisses studio are proud to return as the hosts of the second episode of Melbourne’s most chill and sexy dance party: Cool Room.</p>

<p>Following the success of our pilot episode, Cool Room – Episode 2 will feature even more of what made last time so special – the ice, the fans, the tinsel, the rampant enthusiasm and effervescence of our hosts, our vivacious studio audience, and an ongoing commitment to make Cool Room a ~safe space~ for all to reach pure dancefloor enlightenment.</p>

<p>Keeping it chill and sexy, Episode 2 will star one of the pillars of the Melbourne dance community, the esteemed Chiara Kickdrum, alongside our regular soundtrack of titillating techno, dripping acid squelches and the full spectrum of sultry + ravey dance tunes from across the globe.</p>

<p>~Bodies writhing, booties popping, sweat trickling - audience participation is essential. Give our home viewers something worth watching.~</p>

        <div class="social">
          <p>
            <a href="https://www.facebook.com/events/970123469666152" class="btn btn-default btn-facebook">Facebook</a>
          </p>
        </div>

        <div class="cast">
          <p>Episode 2: Chiara Kickdrum features:</p>

          <ul class="list-unstyled">
            <li><a href="https://soundcloud.com/chiarakickdrum">Chiara Kickdrum</a></li>
            <li><a href="https://soundcloud.com/versace-connection">Kish Lal &amp; Darcy Baylis as Versace Connection</a></li>
            <li><a href="http://jusbchill.com/artists/brothers">Brothers</a></li>
            <li><a href="https://www.mixcloud.com/Vladdd/">Vlad</a></li>
            <li>Broke Powers</li>
          </ul>
        </div>

        <div class="well manifesto">
          <h3>Cool Room Manifesto</h3>
          <p>When dancing is your expression, Cool Room is where you show others how you work it. </p>
          <p>Be ~chill~, feel *sexy*.</p>
          <p> Make it hot and keep it cool. </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode2/versace-connection.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="https://soundcloud.com/versace-connection" target="_blank">Kish Lal &amp; Darcy Baylis as Versace Connection</a></h3>
            <div class="artist-links social">
              <p>
                <a href="https://soundcloud.com/versace-connection" class="btn btn-default btn-soundcloud">Soundcloud</a>
              </p>
            </div>
            <div class="artist-biograph">
              <p>From spending nights in making Ariana Grande techno edits to nights out spent dancing until sunrise, Darcy Baylis and Kish Lal are undoubtedly Melbourne’s hottest couple. Armed with a reputation that precedes them, Darcy and Kish are where passion meets glamour, where 4/4 club music meets saccharine pop. Forget Brangelina, forget Kimye - this is Versace Connection. 11PM-1AM. Be there.</p>
            </div>
            <%= render 'events/facebookshare' %>
          </div>
        </div>

       <div class="video">
          <div class='embed-container'>
            <iframe frameborder="0" width="640" height="360" src="//www.dailymotion.com/embed/video/x2ok4g7" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">

        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode2/brothers.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="https://soundcloud.com/brothers" target="_blank">Brothers</a></h3>
            <div class="artist-links social">
              <p>
                <a href="https://soundcloud.com/brothers" class="btn btn-default btn-soundcloud">Soundcloud</a>
                <a href="http://jusbchill.com/artists/brothers" class="btn btn-default btn-primary">Website</a>
              </p>
            </div>
            <div class="artist-biograph">
              <p>Having spent the better part of the past five years living on opposite sides of the world from each other, a mutual love of electronic music and several significant festival experiences have led Brothers to put geographic distance aside and finally collaborate.</p>
            </div>
            <%= render 'events/facebookshare' %>
          </div>
        </div>

        <div class="video">
          <div class='embed-container'>
            <iframe frameborder="0" width="640" height="360" src="//www.dailymotion.com/embed/video/x2ok3uq" allowfullscreen></iframe>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <div class="artist-information row">
          <div class="artist-image col-md-4">
            <%= image_tag('coolroom/episode2/chiara-kickdrum.jpg') %>
          </div>
          <div class="artist-details col-md-8">
            <h3><a href="https://soundcloud.com/chiarakickdrum" target="_blank">Chiara Kickdrum</a></h3>
            <div class="artist-links social">
              <p>
                <a href="https://www.facebook.com/chiarakickdrum.ckd" class="btn btn-default btn-facebook">Facebook</a>
                <a href="https://soundcloud.com/chiarakickdrum" class="btn btn-default btn-soundcloud">Soundcloud</a>
                <a href="http://www.chiarakickdrum.com" class="btn btn-default btn-primary">Website</a>
              </p>
            </div>
            <div class="artist-biograph">
              <p>One of Melbourne's finest ever techno selectors. Sublimely mixed beats to set dancefloors alight. Feel the kick @ Cool Room from 2-4AM. Delectable dance tunes for all.</p>
            </div>
            
            <%= render 'events/facebookshare' %>
          </div>
        </div>

        <div class="video">
          <div class='embed-container'>
            <iframe frameborder="0" width="640" height="360" src="//www.dailymotion.com/embed/video/x2op0ya" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Thanks for watching!</h2>
        <p class="lead">Like us on Facebook to get invited to the next episode.</p>
        <div class="fb-like-box" data-href="https://www.facebook.com/coolroomtv" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>

<div class="coolroom episode-2-trailer"></div>

<script src="//fast.wistia.net/assets/external/E-v1.js"></script>