<% content_for :og_tags do %>
  <%= render 'events/coolroom/opengraph' %>
<% end %>

<div class="coolroom fullscreen-bg events-video">
  <div class="container">
    <%= video_tag("background.mp4", loop: true, autoplay: true, muted: true, poster: image_url("coolroom/video-cover.png"), class: "fullscreen-bg__video") %>

    <div class="event-logo logo pulse">
      <%= image_tag('coolroom/cool-room-final.png') %>
    </div>
  </div>
</div>

<div class="coolroom episode-description">
  <div class="container">
    <section class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">Jus B Chill proudly presents: Cool Room, the chill and sexy dance show, a monthly dance party and online TV show celebrating Melbourne house and techno.</a>

        <p>Each episode features a TV audience live in the Cool Room studio. Our lucky audience members will get on down to titillating techno, dripping acid squelches, and the full spectrum of weird and ravey sounds.</p>

        <div class="social">
          <p>
            <a href="https://www.facebook.com/coolroomtv" class="btn btn-default btn-facebook btn-lg">Facebook</a>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <h2>Season 3</h2>
       <div class="event-listing">
          <%= render partial: 'events/list', locals: {events: @season_three_events} %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="events">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2 class="event-season">Season 2</h2>
        <div class="event-listing">
           <%= render partial: 'events/list', locals: {events: @season_two_events} %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="events-light">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2 class="event-season">Season 1</h2>
        <div class="event-listing">
          <%= render partial: 'events/list', locals: {events: @season_one_events} %>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="videos videos-alt">
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <h2>Thanks for watching!</h2>
        <p class="lead">Like us on Facebook to get invited to the next episode.</p>
        <div class="fb-like-box" data-href="https://www.facebook.com/coolroomtv" data-width="300px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    </section>
  </div>
</div>
