<header>
  <nav>
    <%= link_to 'Home', controller: 'admin/dashboard' %>
    <%= link_to 'Artists', controller: 'admin/artists' %>
    <%= link_to 'Releases', controller: 'admin/releases' %>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% end %>
  </nav>
</header>