<footer class="row">
  <div class="col-md-12">
    <ul class="list-inline">
      <li><%= link_to 'Privacy Policy', privacy_path, class: "btn" %></li>
      <li><%= link_to 'Facebook', "https://www.facebook.com/jusbchilllabel", class: "btn" %></li>
      <li><%= link_to 'Soundcloud', "https://soundcloud.com/justbechill", class: "btn" %></li>
      <li><%= link_to 'Cool Room on Facebook', "https://www.facebook.com/coolroomtv", class: "btn" %></li>
      <li><%= link_to 'Contact', contact_path, class: "btn" %></li>
    </ul>
  </div>
</footer>