<!DOCTYPE html>
<html>
<head>
  <title>jusbchill</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to 'Home', controller: 'home' %>
      <%= link_to 'Artists', controller: 'artists' %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
